@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto&display=swap');

.backbutton{
  color: #C668FF;
}

.savebutton{
  --background: #C668FF;
  --border-radius: 15px;

  // --margin-right: 10%;
  --font-family: Roboto;
  --font-style: normal;
  --font-weight: normal;
  --font-size: 20px;
  --line-height: 28px;
  --display: flex;
  --align-items: center;
  --text-align: center;

  --color: #FFFFFF;
}