

<ion-content fullscreen=[true] mode="md">

  <ion-header class="ion-no-border" [translucent]="true" mode="md">
    <ion-toolbar id="Menuitem">
      <ion-buttons slot="start">
        <ion-back-button class="signupbutton" defaultHref="home"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-title class="title">
        Create your account
    </ion-title>
    <form [formGroup]="signupForm" (ngSubmit)="submitForm()" novalidate>
      <ion-item lines="none">
        <ion-input [(ngModel)]="fname" class="firstname" type="text" placeholder="First Name" required></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input [(ngModel)]="lname" class="lastname" type="text" placeholder="Last Name" required></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input  [(ngModel)]="age" class="age" type="age" placeholder="Age" required></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input  [(ngModel)]="country" class="country" type="text" placeholder="Country" required></ion-input>
        <ion-input  [(ngModel)]="city" class="city" type="text" placeholder="City"   required></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input [(ngModel)]="email" class="email" type="email" placeholder="Email" required></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input [(ngModel)]="username" class="username" type="text" placeholder="Username" required></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input [(ngModel)]="password" class="password" type="password" placeholder="Password" required></ion-input>
      </ion-item>
    </form>
    <button class="btn saveinfo" (click)="putdata()">
      Save info
    </button>
    
    <ion-item class="thanks" lines="none">
      <ion-label>
        THANK YOU FOR SIGNING UP
      </ion-label>
    </ion-item>
   </div>
  
</ion-content>
