

<ion-content fullscreen=[true] mode="md">

  <ion-header class="ion-no-border" [translucent]="true" mode="md">
    <ion-toolbar id="Menuitem">
      <ion-buttons slot="start">
        <ion-back-button class="signupbutton" defaultHref="home"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-title class="title">
        Create your account
    </ion-title>
    <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
      <ion-item lines="none">
        <input name="fname" class="firstname" type="text" placeholder="First Name" required>
      </ion-item>
      <ion-item lines="none">
        <input name="lname" class="lastname" type="text" placeholder="Last Name" required>
      </ion-item>
      <ion-item lines="none">
        <input class="age" type="age" placeholder="Age" required>
      </ion-item>
      <ion-item lines="none">
        <input name="country"  class="country" type="text" placeholder="Country" required>
        <input name="city"  class="city" type="text" placeholder="City" required>
      </ion-item>
      <ion-item lines="none">
        <input name="email"  class="email" type="email" placeholder="Email" required>
      </ion-item>
      <ion-item lines="none">
        <input name="username" class="username" type="text" placeholder="Username" required>
      </ion-item>
      <ion-item lines="none">
        <input name="password" class="password" type="password" placeholder="Password" required>
      </ion-item>
    </form>
    <button class="btn saveinfo" (click)="putdata()">
      Save info
    </button>
    
    <ion-item class="thanks" lines="none">
      <ion-label>
        THANK YOU FOR SIGNING UP
      </ion-label>
    </ion-item>
   </div>
  
</ion-content>
