#Menuitem {
    // set background color
    --background: #C668FF;

    // set icon/text color
    --color: var(--ion-color-secondary);
   
}

ion-list-header{
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbutton{
 background: #C668FF;
 color: white;
 font-weight: bold;
margin:auto;
}

#container{
  background: #C668FF;
  border-bottom-left-radius: 50% 30%;
  border-bottom-right-radius: 50% 30% ;
  position: absolute;
  width: 110%;
  left: -5%;
  right: 0;
  text-align: center;
  height: 120px;
}

