@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto&display=swap');

#Menuitem {
    // set background color
    --background: #C668FF;

    // set icon/text color
    --color: var(--ion-color-secondary);
   
}

ion-list-header{
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbutton{
 background: #C668FF;
 color: white;
 font-weight: bold;
 margin:auto;
 font-size: 14px;
 padding: 0;
}

.navbutton:hover,
.navbutton:focus{
  margin-bottom: 1%;
  border-bottom: 2px solid white;
}

#container{
  // display: flex;
  background: #C668FF;
  border-bottom-left-radius: 50% 30%;
  border-bottom-right-radius: 50% 30% ;
  position: absolute;
  width: 110%;
  left: -5%;
  right: 0;
  height: 150px;
  text-align: center;
  // justify-content: center;
}

.title{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
  font-variant: small-caps;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;
  color: white;
}

.listofgoals {
  display: flex;
  position: relative;

  margin: auto;
  align-items: center;
  width: 80%;
  margin-top: 5%;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  
  height: 40px;

  font-variant: small-caps;
  font-weight: bold;
  font-size: 18px;

  color: #C668FF;

  // border: 0.5px solid #C668FF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
  -webkit-text-stroke-color: #C668FF ;
  -webkit-text-stroke-width:  0.2px; 
  
}

.goalslist {
  margin-top: 8%;
  margin-left: 6%;
  margin-right: 6%;
}

.goal{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-transform: capitalize;

  color: #FFFFFF; 

  --background: #60009B;
  --border-radius: 10px;
}

.goal:not(:first-child) {
  margin-top: 4%;
}

.addgoal{
  --background: #60009B;
}


