<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar id="Menuitem">
    <ion-list-header>
      <button class="navbutton" routerLink="../profile">Profile</button> 
      <button class="navbutton" routerLink="../dashboard">Dashboard</button>
      <button class="navbutton" routerLink="../panel">Panel</button>
    </ion-list-header>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" mode="md">
  <div id="container">
    <ion-title class="title" *ngFor="let name of names">Welcome {{name.name}} </ion-title>
    <ion-title class="title">Welcome {{name}} </ion-title>
    <ion-title class="title"></ion-title>
  </div>
</ion-content>
