<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar id="Menuitem">
    <ion-list-header>
      <button class="navbutton" routerLink="../profile">Profile</button> 
      <button class="navbutton" routerLink="../dashboard">Dashboard</button>
      <button class="navbutton" routerLink="../panel">Panel</button>
    </ion-list-header>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" mode="md">
  <div id="container">
    <ion-title class="title"> Welcome {{name}} </ion-title>
    <ion-title class="title"> {{weather}} 23 </ion-title>
    <ion-title class="title"> {{date}} 23</ion-title>
    <ion-title class="listofgoals">
      List of goals for today
    </ion-title>

    <div>
      <ion-list class="goalslist" lines="inset">
        <ion-item class="goal">
          <ion-label>Goal One</ion-label>
        </ion-item>
        <ion-item class="goal">
          <ion-label>Goal Two</ion-label>
          
        </ion-item>
      </ion-list>
    </div>

  </div>

  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button class="addgoal" routerLink="../goals">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
